body{
    margin:0;
}

.navbar-brand{
    margin-left: 32px;
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
    color: #686b6a;
}

.navbar-brand img{
    padding-right: 8px;
    width: 32px;
    height: 32px;
}
.content{
    background-color: #3d3e3d;
    margin-top: 32px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.load-container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F8F9FA;
    padding-top: 16px;
    padding-bottom: 16px;
}

.card{
   width: 12rem;
   margin: 32px 16px 32px 16px;
   cursor: pointer;

}

.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-img{
    padding: 8px;
    width:180px;
    transition: all 225ms ease-in-out;
}
.pokemon-img:hover{
    filter: drop-shadow(5px 5px 0px black);
    transform: scale(1.1);
}

.card span{
    font-weight: 700;
}
.card-header{
    background-color: #686b6a;
    color: white;
}

.padding-12{
    padding-right: 12px;
}

.card-footer{
    background-color: #686b6a;
    text-align: center;
    color: white;
}

.card-footer span{
    padding: 4px 8px 4px 8px;
    font-weight: 500;
}

/* popup */


#bigCard{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #92989691;
    z-index: 33;
}

.popup-content{
    background-color: #686b6a;
    border: 1px solid white;
    border-radius: 10px;
    height: 70vh;
    width: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column; 
}
.big-card-header{
    height: 50px;
    text-align: center;
    padding: 8px;
}

.big-card img{
    width:100%;
    height:200px;
}

.big-card span{
    padding-left:16px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.info-buttons{
    background-color: #92989694 !important;
    padding-top: 8px;
    justify-content: space-around;
    border-bottom: solid 1px rgba(13, 13, 13, 0.268);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.info-buttons button{
    margin-bottom: 8px;
    border:none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.line{
    height: 20px;
    width:1px;
    background-color: rgba(13, 13, 13, 0.268);
}

.mainTable{
    margin:16px;
}
.mainTable-td{
    padding-left:12px;
}

#mainContainer{
    color: white;
    font-weight: 400;
}
.td-progress{
    width: 80%;
    padding-left: 16px;
}
/* Type background-color */
.bg-grass{
    background-color: #76CC54;
}

.bg-poison{
    background-color: #A65397;
}
.bg-fire{
    background-color: #ED4225;
}
.bg-water{
    background-color: #4F9AFF;
}
.bg-bug{
    background-color: #ABBB23;
}
.bg-flying{
    background-color: #535C93;
}
.bg-electric{
    background-color: #d2cf17;
}
.bg-ground{
    background-color: #b5dd44;
}
.bg-normal{
    background-color: #c7c2d5;
}
.bg-fairy{
    background-color: #594e77;
}
.bg-fighting{
    background-color: #550505;
}
.bg-psychic{
    background-color: #bd6e6e;
}
.bg-rock{
    background-color: #534f4f;
}
.bg-ice{
    background-color: #ffffffa8;
}
.bg-ghost{
    background-color: #728de5a8;
}

/* d-none*/
.d-none{
    display: none;
}

/* evo chain style*/
.evo-chain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
  }
  
  .evo-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .evo-pokemon img {
    width: 96px;
    height: 96px;
  }

