body {
    margin: 0;
    background-color: #282928;
    font-family: cursive;
}

h2 {
    cursor: pointer;
}

.navbar {
    background-color: #2e302e !important;
}

.navbar-brand {
    margin-left: 40px;
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
    color: #bb191e;
}

.navbar-brand img {
    padding-right: 8px;
    width: 32px;
    height: 32px;
}

.pokemon-img-header {
    height: 50px !important;
    width: 50px !important;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.content {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.load-container {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2e302e;
    padding-top: 30px;
    padding-bottom: 30px;
}

.load-container-button {
    padding: 10px 70px 10px 70px;
    --bs-btn-border-color: #bb191e;
}

.load-btn {
    padding: 10px 70px 10px 70px;
    --bs-btn-border-color: #bb191e;
    --bs-btn-disabled-bg: white;
    --bs-btn-disabled-border-color: white;
    cursor: not-allowed;
    opacity: 0.6;
}

.load-container button:hover {
    --bs-btn-hover-border-color: #f81f26;
}

.card {
    width: 12rem;
    margin: 36px 16px 36px 16px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.card:hover {
    filter: drop-shadow(5px 5px 0px black);
    transform: scale(1.1);
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-img {
    padding: 8px;
    width: 180px;
    transition: all 225ms ease-in-out;
}

.pokemon-img:hover {
    filter: drop-shadow(5px 5px 0px black);
    transform: scale(1.1);
}

.card span {
    font-weight: 700;
}

.card-header {
    background-color: #464946;
    color: white;
}

.padding-12 {
    padding-right: 12px;
}

.card-footer {
    background-color: #464946;
    text-align: center;
    color: white;
}

.card-footer span {
    padding: 4px 8px 4px 8px;
    font-weight: 500;
}

.m-right-span {
    margin-right: 8px;
}

.m-right {
    margin-right: 40px;
    color: white !important;
}

.m-right input {
    background-color: #faf8f8;
    font-size: 14px;
}

.color-red {
    background-color: #bb191e;
}

.color-red:hover {
    background-color: #bb191e62;
}

.filter-name {
    color: white;
    margin-top: 60px;
    font-size: 24px;
    background-color: #550505;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.filter-name span {
    margin-bottom: 32px;
}

/* popup */
#bigCard {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #92989691;
    z-index: 33;
}

.popup-content {
    filter: drop-shadow(5px 5px 0px black);
    background-color: #464946;
    border: 1px solid white;
    border-radius: 10px;
    height: 73vh;
    width: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.arrowImg {
    cursor: pointer;
    width: 60px;
    height: 60px;
    transition: all 225ms ease-in-out;
}

.arrowImg:hover {
    padding: 4px;
    opacity: 0.7;
    border: 1px solid black;
    scale: (1.5);
    border-radius: 100px;
}

.big-card-header {
    height: 50px;
    text-align: center;
    padding: 8px;
}

.big-card img {
    width: 200px;
    height: 200px;
}

.m-top-bottom {
    margin-top: 8px;
    margin-bottom: 8px;
}

.big-card span {
    padding-left: 16px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.info-buttons {
    background-color: #5d615d !important;
    padding-top: 8px;
    justify-content: space-around;
    border-bottom: solid 1px rgba(13, 13, 13, 0.268);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-buttons button {
    margin-bottom: 8px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.line {
    height: 20px;
    width: 1px;
    background-color: rgba(13, 13, 13, 0.268);
}

.mainTable {
    margin: 16px;
}

.mainTable-td {
    padding-left: 12px;
}

#mainContainer {
    color: white;
    font-weight: 400;
}

.td-progress {
    width: 80%;
    padding-left: 16px;
}

/* Type background-color */
.bg-grass {
    background-color: #76CC54;
}

.bg-poison {
    background-color: #A65397;
}

.bg-fire {
    background-color: #ED4225;
}

.bg-water {
    background-color: #4F9AFF;
}

.bg-bug {
    background-color: #ABBB23;
}

.bg-flying {
    background-color: #535C93;
}

.bg-electric {
    background-color: #d2cf17;
}

.bg-ground {
    background-color: #b5dd44;
}

.bg-normal {
    background-color: #c7c2d5;
}

.bg-fairy {
    background-color: #594e77;
}

.bg-fighting {
    background-color: #550505;
}

.bg-psychic {
    background-color: #bd6e6e;
}

.bg-rock {
    background-color: #534f4f;
}

.bg-ice {
    background-color: #ffffffa8;
}

.bg-ghost {
    background-color: #728de5a8;
}

/* d-none*/
.d-none {
    display: none;
}

/* evo chain style*/
.evo-chain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.evo-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evo-pokemon img {
    width: 96px;
    height: 96px;
}

/* media Query */
@media (max-width:670px) {
    #bidCard{
    margin-top: 32px;
    }
}

@media (max-width:600px) {
/* .pokemon-img-header{
    height: 25px;
}*/
    .arrowImg { 
        width: 30px;
        height: 30px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .media-display {
        flex-wrap: nowrap !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content{
        padding-top: 70px;
        padding-bottom: 0px;
    }

    .card{
        margin-bottom: 8px;
    }
    .popup-content{
        transform: scale(0.9);
    }

}

@media (max-width:550px) {
    .popup-content {
        width: 300px;
    }

    .evo-pokemon img {
        width: 75px;
        height: 80px;
    }

    .load-container button {
        padding: 8px 70px 8px 70px;
    }

    .filter-name {
        font-size: 16px;
        margin-top: 60px;
        padding: 8px;
    }
}

@media (max-width:500px) {

    .big-card img {
        width: 100px;
        height: 100px;
    }
    #bigCard {
        margin-top: 40px;
        flex-direction: column;
        justify-content: center;
    }

    .arrowImg {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .load-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .popup-content {
        width: 260px;
        height: 62vh;
        transform: scale(1);
    }

    .big-card-header {
        height: 30px;
        padding: 0px;
    }

    .big-card-header span {
        font-size: 16px;
    }

    .big-card span {
        padding-left: 8px;
        font-size: 14px;
        font-weight: 500;
    }

    .info-buttons button {
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 500;
    }

    #mainContainer {
        font-size: 12px;
    }

    .m-right {
        margin-left: 60px !important;
    }

    .m-right input {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .load-container button {
        padding: 8px 50px 8px 50px;
    }

   
}